body {
  font-family: "Google Sans", arial, sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
}
h1 {
  color: rgb(32, 33, 36);
  font-size: 22px;
  font-weight: 400;
  text-align: right;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.phw {
  list-style: none;
  color: rgb(112, 117, 122);
  font-size: 12px;
  font-weight: 400;
}
.dtw {
  list-style: none;
  color: rgb(112, 117, 122);
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}
