body {
  font-family: "Google Sans", arial, sans-serif;
}
h1 {
  color: rgb(32, 33, 36);
  font-size: 22px;
  font-weight: 400;
  text-align: right;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
}
.phw {
  list-style: none;
  color: rgb(112, 117, 122);
  font-size: 12px;
  font-weight: 400;
}
.dtw {
  list-style: none;
  color: rgb(112, 117, 122);
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}
.dtw::first-letter {
  text-transform: capitalize;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(32, 33, 36);
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -23px;
}
.search-button {
  max-width: 100px;
}
.weather-app .active {
  color: rgb(32, 33, 36);
  cursor: pointer;
}
.weather-app .active:hover {
  text-decoration: none;
}
